<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender" xdt:Locator="Match(name)" >
      <file value="__LogLocation__" xdt:Transform="Replace" />
    </appender>
  </log4net>
  <connectionStrings xdt:Transform="Replace">
    <add name="DbContext" providerName="System.Data.SqlClient" connectionString="__ConnectionString__"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="apiKey" value="__ApiKey__" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>